build
config.h
*.swp
*~
*#
.DS_Store
docsrc/stage
*.txt.user

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
install_manifest.txt
*.cmake
*.so
stage.pc
libstage/stage
libstage/libstage.so.*
html
latex
docu
.project
